plugin: amazon.aws.aws_ec2

regions:
  - us-east-1

#filters:
 # "tag:Deploy": "yes"

hostnames:
  - private_ip_address
  - private_dns_name

compose:
  ansible_host: private_ip_address

keyed_groups:
  - key: tags.Deploy
    prefix: tag_Deploy_
  - key: tags.Name
    prefix: tag_Name_

strict: False

