plugin: amazon.aws.aws_ec2
regions:
  - us-east-1
profile: ansible

keyed_groups:
  - key: tags.Name
    prefix: tag_Name_
  - key: tags.Deploy
    prefix: tag_Deploy_

filters:
  "tag:Deploy": "yes"

compose:
  ansible_host: private-ip-address

ansible_python_interpreter: "/var/lib/jenkins/.venvs/ansible/bin/python3"
