plugin: amazon.aws.aws_ec2
regions:
  - us-east-1

keyed_groups:
  - key: tags.Name
    prefix: tag_Name_
  - key: tags.Deploy       # ADD THIS
    prefix: tag_Deploy_    # ADD THIS

filters:
  tag:Deploy: "yes"

compose:
  ansible_host: private-ip-address
