---
- hosts: tag_Deploy_yes
  become: true
  gather_facts: yes
  tasks:
    - name: Ensure latest yum cache (Amazon Linux / RHEL family)
      yum:
        update_cache: yes
      when: ansible_facts['os_family'] == 'RedHat'

    - name: Install nginx on Amazon Linux
      yum:
        name: nginx
        state: present
      when: ansible_facts['os_family'] == 'RedHat'

    - name: Ensure nginx is running
      service:
        name: nginx
        state: started
        enabled: true

    - name: Create web root
      file:
        path: /usr/share/nginx/html
        state: directory
        owner: nginx
        group: nginx
        mode: '0755'