---
- name: Create EC2 for Deployment
  hosts: localhost
  gather_facts: no
  collections:
    - amazon.aws

  vars:
    region: us-east-1
    ami: ami-0ecb62995f68bb549
    instance_type: t3.micro
    aws_key_name: ansible # <-- REQUIRED (You must define it)

  tasks:
    - name: Launch EC2 instance
      ec2_instance:
        name: "webserver-{{ lookup('pipe','date +%s') }}"
        key_name: "{{ aws_key_name }}"
        instance_type: "{{ instance_type }}"
        image_id: "{{ ami }}"
        region: "{{ region }}"
        vpc_subnet_id: subnet-0f516ff1d079c2f50 
        security_group: sg-08d6c6519a0459da9 
        wait: yes
        tags:
          Deploy: "yes"
          Environment: "dev"
      register: ec2

    - name: Show EC2 info
      debug:
        var: ec2

